<div class="container">
    <button [hidden]="formShowed" class="btn btn-success mt-1" (click)="showForm();">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </button>
    <button [hidden]="!formShowed" class="btn btn-danger mt-1 " (click)="showForm();">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
    </button>
    <div [hidden]="!formShowed" class="card mt-1 mx-auto">
        <div class="card-header text-center">
            <h3 class="card-text align-middle">Add New Channel</h3>
        </div>
        <div class="card-body">
            <form>
                <label for="channelCode" class="font-weight-bolder">Channel Code</label>
                <input type="text" class="form-control" name="channelCode" [(ngModel)]="channelCode">
                <button type="button" class="mt-2 btn btn-dark form-control" (click)="addChannel()">Add Channel</button>
            </form>
        </div>
    </div>
    <div class="card mt-1 mx-auto text-center">
        <div class="card-header align-middle">
            <h3 class="card-text">Channels</h3>
        </div>
        <div class="card-body">
            <div class="table table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Topic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let channel of channels">
                        <td><a routerLink="/chat/{{channel.id}}" >{{ channel.name }}</a></td>
                        <td>{{ channel.topic }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>